/* ------------------------------------------------------------------ */
/**
    scss 파일의 여러가지 변수와 함수들을 저장하는 설정 파일입니다.
    메인 테마를 잡는 공간이라고 생각하시면 됩니다.
**/
/* ------------------------------------------------------------------ */


// 메인 컬러셋 : 추후 변경 가능
$theme-color1 : rgb(252, 210, 119);
$theme-color2 : #867542;
// 3번 컬러는 본문에 사용.
$theme-color3 : #3c3c3c;

// 임시 색
$theme-color4 : #9fb6bb;


/*// 1번 컬러 기준 조금 더 밝은 색과 어두운 색 버젼.
$dark-color1 : darken( $theme-color1, 20% );
$light-color1 : lighten( $theme-color1, 20% );*/