  /* ------------------------------------------------------------------ */
  /**
      각종 style 기본 리셋 파일입니다.
      다양한 브라우져 기본 css 속성들을 무효화해줍니다.
  **/
  /* ------------------------------------------------------------------ */
  
  
  * {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, p, body, ul {
    margin: 0;
    padding: 0;
  }
  
  img {
    vertical-align: bottom;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    outline: 0;
    color: inherit;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
  
  em {
    font-style: normal;
    font-weight: 800;
  }
  
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }